@import "variaveis";

.aside{
	display: none;
	width: 310px;
	min-height: 100vh;

	@media (min-width: 1200px){
		display: block;
	}

	.logo{
		margin-top: 32px;
		margin-left: 32px;
		margin-bottom: 32px;
	}

	.box{
		padding: 16px 32px;
		background-color: white;
		border-radius: 0 16px 16px 0;
	}

	.listaLinks{
		margin-top: 32px;
		margin-left: 32px;
	}

	.link{
		font-size: 16px;

		& + .link{
			margin-top: 16px;
		}
	}

	.action{
		transition: all ease 0.6s;

		&:hover,
		&:focus{
			opacity: 0.7;
		}
	}

	.listaProjects{

		.projetoNome{
			font-size: 18px;
			font-weight: 700;
		}

		li + li{
			margin-top: 16px;
		}
	}

	.listaBoxes{
		margin-top: 8px;

		.boxNome{
			font-size: 16px;
			font-weight: 600;
		}

		li{
			padding: 8px;
			background-color: $c-lightGray;
			border-radius: 8px;
		}

		.listaSprints{
			margin-top: 8px;

			.linkSprint{
				padding: 8px;
				background-color: white;
				cursor: pointer;
				transition: all ease 0.4s;

				&:hover{
					opacity: 0.7;
				}
			}
		}
	}

}