@import "variaveis";

.modal{
	display: none;
	position: absolute;
	left: 0;
	padding: 16px 0;
	background-color: white;
	color: $c-dark;
	text-align: left;
	border-radius: 12px;

	&.bottom{
		bottom: -8px;
		transform: translateY(100%);
	}

	&.top{
		top: -8px;
		transform: translateY(-100%);
	}

	&.open{
		display: block;
	}
}