
.password{

  &Wrapper{
    position: relative;
    display: flex;
    align-items: center;
  }

  &Icon{
    position: absolute;
    right: 16px;
    margin-top: 4px;
    font-size: 18px;
    cursor: pointer;
  }
}