@import "variaveis";

.task{
	height: 100%;
	min-width: 176px;
	padding: 16px;
	background-color: white;
	border-radius: 16px;

	&Area{
		display: inline-block;
		margin: 0;
		padding: 6px 16px;
		color: white;
		font-size: 12px;
		border-radius: 16px;
	}

	&Name{
		display: block;
		margin-top: 8px;
		margin-bottom: 4px;
		font-size: 16px;
		font-weight: 700;
	}

	&Desc{
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.baixo{
		margin-top: 16px;
		padding-top: 16px;
		border-top: 1px solid #EBECF1;
	}
}

.priority{
	font-size: 14px;

	&.alta{
		color: $c-red;
	}

	&.baixa{
		color: $c-gray;
	}
}

.worker{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4px;
	width: 24px;
	height: 24px;
	background-color: $c-lightGray;
	font-size: 12px;
	font-weight: 700;
	border-radius: 50%;
}

.label{
	font-size: 12px;
	font-weight: 700;
}

.icones{
	padding-left: 0;
	margin-bottom: 0;
	list-style:none;

	.icone{
		color: #919191;

		&.active{
			color: $c-primary;
		}

		& + .icone{
			margin-left: 16px;
		}
	}
}

.modalTask{
	display: flex;
	height: 100%;

	.infoSide,
	.commentsSide{
		flex: 1;
	}

	.infoSide{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		padding: 16px;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-right: 16px;
		border-radius: 16px;
		height: 100%;

		@media (min-width: 992px){
			position: static;
			width: auto;
		}

		&.active{
			z-index: 2;
		}

		.taskName{
			margin-top: 16px;
			margin-bottom: 16px;
			font-size: 28px;
		}

		.taskDesc{
			font-family: inherit;
			margin-top: 0;
			margin-bottom: 16px;
			color: $c-gray;
		}

		.formAlterar{

			.taskName,
			.taskDesc{
				padding: 8px 12px;
				border: 1px dashed $c-gray;
			}
		}

		.infoView,
		.formAlterar,
		.actionWrapper{
			display: none;

			&.active{
				display: block;
			}
		}
	}

	.commentsSide{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding: 16px;
		background-color: $c-lightGray;
		border-radius: 16px;

		@media (min-width: 992px){
			position: static;
			width: auto;
		}

		.comments{
			flex-direction: column;
			display: flex;
			justify-content: flex-end;
			flex: 1;
			margin-bottom: 16px;
		}

		.comment{
			transform: rotate(-180deg);
		}

		.commentInputWrapper{
			flex-direction: column;

			@media (min-width: 992px){
				flex-direction: row;
			}

			.commentInput{
				margin-bottom: 16px;

				@media (min-width: 992px){
					margin-bottom: 0;
					margin-right: 16px;
				}
			}

			.commentBtn{
				width: 100%;

				@media (min-width: 992px){
					width: auto;
				}
			}
		}

		&.active{
			z-index: 2;
		}
	}

	.btnSwitch{
		position: absolute;
		top: -16px;
		left: 0;
		padding: 0;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		transform: translateY(-100%);

		@media (min-width: 992px){
			display: none;
		}
	}

	.actionWrapper{

		&Btn{
			width: 100%;

			@media (min-width: 992px){
				width: auto;
			}

			& + .actionWrapperBtn{
				margin-top: 16px;

				@media (min-width: 992px){
					margin-top: 0;
					margin-left: 16px;
				}
			}
		}
	}
}