@import "variaveis";

.task{
	padding: 16px;
	background-color: white;
	border-radius: 16px;

	&Area{
		display: inline-block;
		margin: 0;
		padding: 6px 16px;
		background-color: $c-orange;
		font-size: 12px;
		border-radius: 16px;
	}

	&Name{
		display: block;
		margin-top: 8px;
		margin-bottom: 4px;
		font-size: 16px;
		font-weight: 700;
	}

	&Desc{
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

.priority{
	font-size: 14px;

	&.alta{
		color: $c-red;
	}

	&.baixa{
		color: $c-gray;
	}
}

.worker{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4px;
	width: 24px;
	height: 24px;
	background-color: $c-lightGray;
	font-size: 12px;
	font-weight: 700;
	border-radius: 50%;
}

.label{
	font-size: 12px;
	font-weight: 700;
}

.modalTask{
	display: flex;
	height: 100%;

	.infoSide,
	.commentsSide{
		flex: 1;
	}

	.infoSide{
		margin-right: 16px;

		.taskName{
			margin-top: 16px;
			margin-bottom: 16px;
			font-size: 28px;
		}

		.taskDesc{
			margin-top: 0;
			margin-bottom: 16px;
			color: $c-gray;
		}
	}

	.commentsSide{
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 16px;
		background-color: $c-lightGray;
		border-radius: 16px;

		.comments{
			flex-direction: column;
			display: flex;
			justify-content: flex-end;
			flex: 1;
			margin-bottom: 16px;
		}

		.comment{
			transform: rotate(-180deg);
		}
	}
}