// Variáveis do projeto
@import "variaveis";

// Fontes
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

// Reset
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat Alternates', sans-serif;
	background-color: $c-lightGray;
	color: $c-dark;
	font-size: 16px;
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all ease 0.4s;
}

p{
	margin: 0;
}

* {
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

ul{
	list-style: none;
	padding-left: 0;
}

fieldset{
	margin: 0;
	padding: 0;
	border: none;
}

// Classes úteis

// Fonts

// Peso
.fw-400{
	font-weight: 400;
}
.fw-500{
	font-weight: 500;
}
.fw-600{
	font-weight: 600;
}
.fw-700{
	font-weight: 700;
}

// Tamanho
.fs-12{ font-size: 12px !important; }
.fs-14{ font-size: 14px !important; }

// Cores
.c-azul{ color: $c-primary !important; }
.c-dark{ color: $c-dark !important; }

// Margins
.mb-2{ margin-bottom: 16px !important; }

// Display
.d-flex{ display: flex; }

// Alinhamento
.align-items-end{ align-items: flex-end !important; }
.align-items-center{ align-items: center !important; }
.justify-content-between{ justify-content: space-between !important; }

.position-relative{ position: relative !important; }

// Gerais
.link{
	text-decoration: underline;

	&:hover,
	&:focus{
		text-decoration: underline;
		opacity: 0.7;
	}
}

.btn-link{
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

.titulo{
	margin: 0;
	font-weight: 700;

	&.h1{
		font-size: 20px;
	}

	&.h2{
		font-size: 18px;
	}

	&.h3{
		font-size: 16px;
	}
}

.subtitulo{
	margin-top: 8px;
	font-size: 14px;
	color: $c-gray;
}

.input{
	margin-top: 4px;
	width: 100%;
	height: 40px;
	padding: 0 16px;
	background-color: white;
	border-radius: 8px;
	border: none;
	transition: all ease 0.4s;

	&:focus{
		border: none;
		box-shadow: 0 0 0 1px $c-primary;
		outline: none;
	}

	&.input-bordered{
		border: 1px solid $c-gray;

		&:focus{
			border-color: $c-primary;
			box-shadow: none;
		}
	}
}

.label{
	display: block;
	font-weight: 600;
	font-size: 14px;
}

.error{
	.label{
		color: $c-red;
	}

	.input{
		box-shadow: 0 0 0 1px $c-red;
	}

	&Msg{
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 8px 12px;
		background-color: $c-red;
		color: white;
		border-radius: 8px;
	}
}

.btn{
	padding: 12px 24px;
	text-align: center;
	font-family: inherit;
	font-size: 1rem;
	border: none;
	border-radius: 16px;
	transition: all ease 0.4s;
	cursor: pointer;

	&-primary{
		background-color: $c-primary;
		color: white;

		&:hover,
		&:focus{
			background-color: darken($c-primary, 8%)
		}
	}

	&.small{
		padding: 12px;
	}

	&-icone{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		padding: 0;
		border-radius: 4px;
	}
}