// Variáveis do projeto
@import "variaveis";

// Fontes
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

// Reset
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat Alternates', sans-serif;
	background-color: $c-lightGray;
	color: $c-dark;
	font-size: 16px;
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all ease 0.4s;
}

p{
	margin: 0;
}

* {
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

ul{
	list-style: none;
	padding-left: 0;
}

fieldset{
	margin: 0;
	padding: 0;
	border: none;
}

// Classes úteis

// Fonts

// Peso
.fw-400{
	font-weight: 400;
}
.fw-500{
	font-weight: 500;
}
.fw-600{
	font-weight: 600;
}
.fw-700{
	font-weight: 700;
}

// Tamanho
.fs-12{ font-size: 12px !important; }
.fs-14{ font-size: 14px !important; }

// Cores
.c-azul{ color: $c-primary !important; }
.c-dark{ color: $c-dark !important; }

// Margins
.mt-0{ margin-top: 0 !important; }
.mt-1{ margin-top: 0.5rem !important; }
.mt-2{ margin-top: 1rem !important; }
.mt-3{ margin-top: 1.5rem !important; }
.mt-4{ margin-top: 2rem !important; }
.mt-5{ margin-top: 2.5rem !important; }
.mt-6{ margin-top: 3rem !important; }
.mt-7{ margin-top: 3.5rem !important; }
.mt-8{ margin-top: 4rem !important; }
.mt-9{ margin-top: 4.5rem !important; }
.mt-10{ margin-top: 5rem !important; }
.mt-auto{ margin-top: auto !important; }

.ml-0{ margin-left: 0 !important; }
.ml-1{ margin-left: 0.5rem !important; }
.ml-2{ margin-left: 1rem !important; }
.ml-3{ margin-left: 1.5rem !important; }
.ml-4{ margin-left: 2rem !important; }
.ml-5{ margin-left: 2.5rem !important; }
.ml-6{ margin-left: 3rem !important; }
.ml-7{ margin-left: 3.5rem !important; }
.ml-8{ margin-left: 4rem !important; }
.ml-9{ margin-left: 4.5rem !important; }
.ml-10{ margin-left: 5rem !important; }
.ml-auto{ margin-left: auto !important; }

.mb-0{ margin-bottom: 0 !important; }
.mb-1{ margin-bottom: 0.5rem !important; }
.mb-2{ margin-bottom: 1rem !important; }
.mb-3{ margin-bottom: 1.5rem !important; }
.mb-4{ margin-bottom: 2rem !important; }
.mb-5{ margin-bottom: 2.5rem !important; }
.mb-6{ margin-bottom: 3rem !important; }
.mb-7{ margin-bottom: 3.5rem !important; }
.mb-8{ margin-bottom: 4rem !important; }
.mb-9{ margin-bottom: 4.5rem !important; }
.mb-10{ margin-bottom: 5rem !important; }
.mb-auto{ margin-bottom: auto !important; }

.mr-0{ margin-right: 0 !important; }
.mr-1{ margin-right: 0.5rem !important; }
.mr-2{ margin-right: 1rem !important; }
.mr-3{ margin-right: 1.5rem !important; }
.mr-4{ margin-right: 2rem !important; }
.mr-5{ margin-right: 2.5rem !important; }
.mr-6{ margin-right: 3rem !important; }
.mr-7{ margin-right: 3.5rem !important; }
.mr-8{ margin-right: 4rem !important; }
.mr-9{ margin-right: 4.5rem !important; }
.mr-10{ margin-right: 5rem !important; }
.mr-auto{ margin-right: auto !important; }

.my-0{ margin-top: 0; margin-bottom: 0 !important; }
.my-1{ margin-top: 0.5rem; margin-bottom: 0.5rem !important; }
.my-2{ margin-top: 1rem; margin-bottom: 1rem !important; }
.my-3{ margin-top: 1.5rem; margin-bottom: 1.5rem !important; }
.my-4{ margin-top: 2rem; margin-bottom: 2rem !important; }
.my-5{ margin-top: 2.5rem; margin-bottom: 2.5rem !important; }
.my-6{ margin-top: 3rem; margin-bottom: 3rem !important; }
.my-7{ margin-top: 3.5rem; margin-bottom: 3.5rem !important; }
.my-8{ margin-top: 4rem; margin-bottom: 4rem !important; }
.my-9{ margin-top: 4.5rem; margin-bottom: 4.5rem !important; }
.my-10{ margin-top: 5rem; margin-bottom: 5rem !important; }
.my-auto{ margin-top: auto; margin-bottom: auto !important; }

.mx-0{ margin-left: 0; margin-right: 0 !important; }
.mx-1{ margin-left: 0.5rem; margin-right: 0.5rem !important; }
.mx-2{ margin-left: 1rem; margin-right: 1rem !important; }
.mx-3{ margin-left: 1.5rem; margin-right: 1.5rem !important; }
.mx-4{ margin-left: 2rem; margin-right: 2rem !important; }
.mx-5{ margin-left: 2.5rem; margin-right: 2.5rem !important; }
.mx-6{ margin-left: 3rem; margin-right: 3rem !important; }
.mx-7{ margin-left: 3.5rem; margin-right: 3.5rem !important; }
.mx-8{ margin-left: 4rem; margin-right: 4rem !important; }
.mx-9{ margin-left: 4.5rem; margin-right: 4.5rem !important; }
.mx-10{ margin-left: 5rem; margin-right: 5rem !important; }
.mx-auto{ margin-left: auto; margin-right: auto !important; }

// Paddings
.pt-header {
	padding-top: 120px !important;
	@media(min-width: 992px){ padding-top: 165px !important; }

	&-lg {
		@media(min-width: 992px){ padding-top: 185px !important; }
	}
}
.pt-0{ padding-top: 0 !important; }
.pt-1{ padding-top: 0.5rem !important; }
.pt-2{ padding-top: 1rem !important; }
.pt-3{ padding-top: 1.5rem !important; }
.pt-4{ padding-top: 2rem !important; }
.pt-5{ padding-top: 2.5rem !important; }
.pt-6{ padding-top: 3rem !important; }
.pt-7{ padding-top: 3.5rem !important; }
.pt-8{ padding-top: 4rem !important; }
.pt-9{ padding-top: 4.5rem !important; }
.pt-10{ padding-top: 5rem !important; }

.pl-0{ padding-left: 0 !important; }
.pl-1{ padding-left: 0.5rem !important; }
.pl-2{ padding-left: 1rem !important; }
.pl-3{ padding-left: 1.5rem !important; }
.pl-4{ padding-left: 2rem !important; }
.pl-5{ padding-left: 2.5rem !important; }
.pl-6{ padding-left: 3rem !important; }
.pl-7{ padding-left: 3.5rem !important; }
.pl-8{ padding-left: 4rem !important; }
.pl-9{ padding-left: 4.5rem !important; }
.pl-10{ padding-left: 5rem !important; }

.pb-0{ padding-bottom: 0 !important; }
.pb-1{ padding-bottom: 0.5rem !important; }
.pb-2{ padding-bottom: 1rem !important; }
.pb-3{ padding-bottom: 1.5rem !important; }
.pb-4{ padding-bottom: 2rem !important; }
.pb-5{ padding-bottom: 2.5rem !important; }
.pb-6{ padding-bottom: 3rem !important; }
.pb-7{ padding-bottom: 3.5rem !important; }
.pb-8{ padding-bottom: 4rem !important; }
.pb-9{ padding-bottom: 4.5rem !important; }
.pb-10{ padding-bottom: 5rem !important; }

.pr-0{ padding-right: 0 !important; }
.pr-1{ padding-right: 0.5rem !important; }
.pr-2{ padding-right: 1rem !important; }
.pr-3{ padding-right: 1.5rem !important; }
.pr-4{ padding-right: 2rem !important; }
.pr-5{ padding-right: 2.5rem !important; }
.pr-6{ padding-right: 3rem !important; }
.pr-7{ padding-right: 3.5rem !important; }
.pr-8{ padding-right: 4rem !important; }
.pr-9{ padding-right: 4.5rem !important; }
.pr-10{ padding-right: 5rem !important; }

.py-0{ padding-top: 0 !important; padding-bottom: 0 !important; }
.py-1{ padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.py-2{ padding-top: 1rem !important; padding-bottom: 1rem !important; }
.py-3{ padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.py-4{ padding-top: 2rem !important; padding-bottom: 2rem !important; }
.py-5{ padding-top: 2.5rem !important; padding-bottom: 2.5rem !important; }
.py-6{ padding-top: 3rem !important; padding-bottom: 3rem !important; }
.py-7{ padding-top: 3.5rem !important; padding-bottom: 3.5rem !important; }
.py-8{ padding-top: 4rem !important; padding-bottom: 4rem !important; }
.py-9{ padding-top: 4.5rem !important; padding-bottom: 4.5rem !important; }
.py-10{ padding-top: 5rem !important; padding-bottom: 5rem !important; }

.px-0{ padding-left: 0; padding-right: 0 !important; }
.px-1{ padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.px-2{ padding-left: 1rem !important; padding-right: 1rem !important; }
.px-3{ padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.px-4{ padding-left: 2rem !important; padding-right: 2rem !important; }
.px-5{ padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
.px-6{ padding-left: 3rem !important; padding-right: 3rem !important; }
.px-7{ padding-left: 3.5rem !important; padding-right: 3.5rem !important; }
.px-8{ padding-left: 4rem !important; padding-right: 4rem !important; }
.px-9{ padding-left: 4.5rem !important; padding-right: 4.5rem !important; }
.px-10{ padding-left: 5rem !important; padding-right: 5rem !important; }

// Display
.d-flex{ display: flex; }
.d-none{ display: none; }
.d-block{ display: block; }

// Alinhamento
.align-items-end{ align-items: flex-end !important; }
.align-items-center{ align-items: center !important; }
.justify-content-between{ justify-content: space-between !important; }

.position-relative{ position: relative !important; }

// Gerais
.link{
	text-decoration: underline;

	&:hover,
	&:focus{
		text-decoration: underline;
		opacity: 0.7;
	}
}

.btn-link{
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

.titulo{
	margin: 0;
	font-weight: 700;

	&.h1{
		font-size: 20px;
	}

	&.h2{
		font-size: 18px;
	}

	&.h3{
		font-size: 16px;
	}
}

.subtitulo{
	margin-top: 8px;
	font-size: 14px;
	color: $c-gray;
}

.input{
	margin-top: 4px;
	width: 100%;
	height: 40px;
	padding: 0 16px;
	background-color: white;
	border-radius: 8px;
	border: none;
	transition: all ease 0.4s;

	&:focus{
		border: none;
		box-shadow: 0 0 0 1px $c-primary;
		outline: none;
	}

	&.input-bordered{
		border: 1px solid $c-gray;

		&:focus{
			border-color: $c-primary;
			box-shadow: none;
		}
	}
}

.label{
	display: block;
	font-weight: 600;
	font-size: 14px;
}

.error{
	.label{
		color: $c-red;
	}

	.input{
		box-shadow: 0 0 0 1px $c-red;
	}

	&Msg{
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 8px 12px;
		background-color: $c-red;
		color: white;
		border-radius: 8px;
	}
}

.btn{
	padding: 12px 24px;
	text-align: center;
	font-family: inherit;
	font-size: 1rem;
	border: none;
	border-radius: 16px;
	transition: all ease 0.4s;
	cursor: pointer;

	&-primary{
		background-color: $c-primary;
		color: white;

		&:hover,
		&:focus{
			background-color: darken($c-primary, 8%)
		}
	}

	&-cinza{
		background-color: $c-gray;
		color: white;

		&:hover,
		&:focus{
			background-color: darken($c-gray, 8%)
		}
	}

	&-success{
		background-color: $c-green;
		color: darken($c-green, 50%);

		&:hover,
		&:focus{
			background-color: darken($c-green, 8%)
		}
	}

	&-danger{
		background-color: $c-red;
		color: white;

		&:hover,
		&:focus{
			background-color: darken($c-red, 8%)
		}
	}

	&.small{
		padding: 12px;
	}

	&-icone{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		padding: 0;
		border-radius: 4px;
	}

	&.btn-sm{
		padding: 8px 12px;
		font-size: 0.8rem;
	}
}