$c-primary: #547DEF;
$c-red: #D54062;
$c-green: #ADE498;
$c-yellow: #EDE682;
$c-pink: #FE91CA;
$c-orange: #FEBF63;
$c-gray: #919191;
$c-dark: #1B1C25;
$c-lightBlue: #7FDBDA;
$c-lightPrimary: #EEF2FD;
$c-lightGray: #F4F4F8;